/* style.css */
body {
    font-family: Arial, sans-serif;
}

h2 {
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
}

.pagination {
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 8px 16px;
}
.d-flex {
    display: flex;
    justify-content: center; /* Mengatur posisi elemen secara horizontal menjadi di tengah */
    align-items: center; /* Mengatur posisi elemen secara vertikal menjadi di tengah */
  }
.input{
    padding-left: 650px;
}
.tombol{
    padding-left: 110px;
}
.inputt{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
.tomboll{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
 .center{
    padding: 100px 0px;
    display: flex;
    justify-content: center;
}
